body, html {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", monospace;
  font-size: 13px;
  line-height: 1.4;
}

.App {
  padding-top: 6px;
  padding-bottom: 18px;
  padding-right: 6px;
  padding-left: 6px;
  background: #000000;
  color: #ffffff;
  min-width: 400px;
}

.commit-line {
  margin-bottom: 4px;
}

.commit-label {
  color: #ffff00;
}

.commit-hash {
  color: #ffff00;
  text-decoration: none;
}

.commit-hash {
  margin-left: 6px;
}

.commit-hash:hover {
  text-decoration: underline;
}

.author-line,
.date-line {
  margin-bottom: 4px;
}

.author-label,
.date-label {
  color: #ffffff;
}

.author-info,
.date-info {
  color: #ffffff;
}

.date-info {
  padding-left: 14px;
}

.message-container {
  margin-top: 18px;
  margin-left: 18px;
}

.message-text {
  color: #ffffff;
  white-space: pre-wrap;
}

